@(usuario: Usuario)
@main("Detalle usuario") {
<div class="container">
  <h2>Detalle de usuario: @usuario.id </h2>
  <ul>
    <li><b>Login: </b>@usuario.login</li>
    <li><b>Nombre: </b>@usuario.nombre</li>
    <li><b>Apellidos: </b>@usuario.apellidos</li>
    <li><b>Email: </b>@usuario.eMail</li>
    <li><b>Fecha de nacimiento: </b>@usuario.fechaNacimiento</li>
    <p><a class="btn btn-primary" href="@routes.UsuariosController.editaUsuario(usuario.id)">Editar</a></p>
    <p><a class="btn btn-primary" href="@routes.UsuariosController.listaUsuarios()">Volver</a></p>
  </ul>
</div>
}
